<div class="flex flex-col min-h-screen bg-[url('/assets/backgrounds/battle-field.svg')] bg-cover bg-center" cdkDropListGroup>
    <div class="flex-1 flex justify-center items-center">
        <mat-card class="flex flex-col items-center bg-white shadow-lg rounded-xl h-full">
        <mat-card-header class="w-full flex justify-center text-center">
            <mat-card-title >Zona de batalla</mat-card-title>
            <mat-card-subtitle>Aquí se disponen las cartas</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="flex flex-col justify-between items-center w-full h-full">
            <div class="flex-1  flex justify-center items-center border-dashed border-2 border-indigo-600 w-[500px] h-[500px] relative z-20"
            cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="cardsDropZone" [cdkDropListDisabled]="dropZoneLimit"
            >
                @for (droppedCard of cardsDropZone; track droppedCard){
                    <app-card [card]="droppedCard" [isInDropZone]="true"></app-card>
                }
            </div>
        </mat-card-content>
        </mat-card>
    </div>
    <div class="flex-1 flex justify-center items-center" cdkDropList [cdkDropListData]="cards" [cdkDropListDisabled]="dropZoneLimit">
        <div class="container">
            <div class="ball"></div>
        </div>
        @for(card of cards; track card) {
            <app-card [card]="card"></app-card>
        }
        <div class="container">
            <div class="ball !bg-red-400"></div>
        </div>
        <app-elixir-container></app-elixir-container>
    </div>
</div>