<main class="main bg-img">
    <div class="content">
      <div class="align-container">
        <img src="/assets/logos/infodev-logo_3.svg" alt="My Logo" class="my-logo" />
        <h1>Welcome to my portfolio</h1>
        <p>Check my info and there is my contact info!</p>
        <mat-divider class="divider"></mat-divider>
        <section>
          <div class="button-row">
            <button 
              mat-flat-button color="primary" 
              class="login-button"
              >
                Join
            </button>
          </div>
        </section>
      </div>
    </div>
</main>
